.flashcard {
  border: 1px solid #BDBDBD;
  box-shadow: 5px 5px 8px 5px #D3D3D3;
  width: 100%;
  height: 200px;
  display: table;
  cursor: pointer;
}

.flashcard h2 {
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.flashcard:hover{
  text-transform: uppercase;
}

p {
  font-size: 20px;
  padding: 20px;
}
.row {
  margin: 20px 0px;
}

.col-md-4 {
  margin: 20px 0px;
}

.panel {
  width: 60%;
  margin: 0 auto;
}

.jumbotron {
  background-image: url(../img/banner.JPG);
  color: white;
  text-shadow: 4px 4px #000;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 9%;
}

.definition {
  display: none;
}
